<!DOCTYPE html>
<html lang="pl">
<meta charset="UTF-8">
<title>{{ page.title }} - {{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="czas zapłaty, mody, gothic, modyfikacja, themodders, modders">
<meta name="author" content="Marcin Lenkowski, CreaWeb (www.creaweb.pl), Adam Golebiowski (Avallach)">

<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/view/css/czas-zaplaty.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta name="theme-color" content="#2f2f2f">
<link rel="alternate" type="application/rss+xml" href="/feed.xml">
<script defer src="/client/scripts/turbolinks.js"></script>

<body id="czas-zaplaty">
	<a id="header" href="/" data-turbolinks-permanent></a>
	<div id="content">
		<div id="text">
