{% include before-content.html %}
<div id="images">
{%
	assign urlLength = page.url | size %}{%
	assign ignoredExtensions = '.md,.html' %}{%
		
	for static_file in site.static_files %}{%
		assign urlPrefix = static_file.path | slice: 0, urlLength %}{%
		unless urlPrefix != page.url or 
				page.url == static_file.path or
				ignoredExtensions contains static_file.extname
			%}		<a style="display: inline-block" rel="lightbox[screeny]" href="{{ static_file.path }}"><img style="width: 150px; height: 150px; object-fit: cover;" src="{{ static_file.path }}" alt='{{ static_file.basename | replace: "-", " " | replace: "_", " " }}' title='{{ static_file.basename | replace: "-", " " | replace: "_", " " }}'></a>
	{%			endunless %}{%
	endfor
%}
</div>
{% include after-content.html %}