---
---
{% include before-content.html %}
<script>document.title = "{{ site.title }} - {{ site.description }}"</script>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="post">
    <div class="icon1">
		<a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
     	<div class="date">Napisał: {{ post.author }}, dnia {{ post.time }}</div>
     	{{ post.content }}
    </div>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">
			&lt; Poprzednia
		</a>
	{% endif %}
	[<strong>{{ paginator.page }}</strong> / {{ paginator.total_pages }}]
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">
			Następna &gt;
		</a>
	{% endif %}
</div>

{% include after-content.html %}